body {
  background-color: #000000;
}

#objectinfo {
	position: absolute;
    color: white;
	  top: 50px;
    left:50px;
	width: 500%;
	text-align: left;
	z-index: 100;
	display:block;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
